In [1]:
import numpy as np
import pandas as pd

In [15]:
simple_mip = pd.read_csv("../data/K=3 L=5/SimpleMIP.tsv", sep='\t')
simple_mip.head()

,Seed,Nb Nodes,Nb altruists,Nb pairs,Nb arcs,Nb arcs PRA80,Nb Cycles,Nb Chains,Nb Cycles and Chains,Max node fail,...,Nb matches RE,Nb PRA80 det,Nb PRA80 RE,Nb transplants det,Nb transplants recourse,Nb transplants PRA80 det,Nb transplants PRA80 recourse,Total time,Scenarios generated,Solution values and adversary values
0,0,20,1,19,72,2,6,23,29,1,...,0,NaN,NaN,NaN,NaN,0.0219948,NaN,NaN,NaN,NaN
1,1,20,1,19,70,1,13,0,13,1,...,1,NaN,NaN,NaN,NaN,0.011989,NaN,NaN,NaN,NaN
2,2,20,1,19,82,5,37,1,38,1,...,2,NaN,NaN,NaN,NaN,0.0140005,NaN,NaN,NaN,NaN
3,3,20,2,18,106,3,13,376,389,1,...,0,NaN,NaN,NaN,NaN,0.0809933,NaN,NaN,NaN,NaN
4,4,20,0,20,127,0,113,0,113,1,...,0,NaN,NaN,NaN,NaN,0.018997,NaN,NaN,NaN,NaN